/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*
!.env.example
.phpunit.result.cache
.idea
Homestead.json
Homestead.yaml
/.docs/
/reports/
clover.xml
/.phpunit.cache/
phpunit.dusk.xml
.php_cs.cache
.php-cs-fixer.cache